# Confidential data
.env

# Logging
*.log

# Python stuff
*.py[co]
__pycache__/

# Editor junk
.vscode/

# Data
*.tsv
*.sqlite3
*.pickle
*.zst
*.gz
*.xz
*.zip
*.xlsx

# The data structures that the OpenAI API stuff creates:
llm/
decaf-cli.jar
